@font-face {
    font-family: norse-bold;
    src: url("./font/Norse-Bold.otf");
}

body{
    margin: 0;
}

.main-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.logo-area{
    position: relative;
}

.logo-bg-img{
    width: 40vw;
    height: 100vh;
}

.logo-card{
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.6;
  color: white;
  top: 8rem;
  text-align: center;
  display: flex;
  height: 20vh;
  justify-content: center;
}

.logo-text{
    font-family: norse-bold;
    font-size: 7em;
    color: white;
    font-weight: bolder;
    align-self: center;
}

.logo-card > img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.info-text{
    font-size: 32px;
    font-weight: 800;
}

.form > *{
    display:flex;
    justify-content: flex-start;
    gap: 80px;
}

.information,.footer{
    padding-left: 50px;
    padding-right: 150px;
}

 form{
    width: 100%;
 }

.form{
    border-top: solid #80808040 1px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px 30px;
    box-shadow: -1px 9px 5px -2px rgba(0, 0, 0, .5);
}

legend{
    font-size: 24px;
}

input{
    border: 2px #E5E7EB solid;
    border-radius: 5px;
    font-size: 14px;
}

input:focus{
    border: 2px blue solid;
    outline: none;
    box-shadow: 7px 8px 5px -2px rgb(73 97 215 / 62%);
}

button{
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    padding: 10px 40px 10px 40px;
    background-color: #596D48;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    width: fit-content;
}

.footer{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.log-in{
    color: #596D48;
    font-weight:bolder;
    text-decoration: none;
}
button:hover{
    background-color: chocolate;
}
